<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centro Excursionista Capdevielle</title>
  <%- include('partials/head') %>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="img/icono.png" type="image/png">
</head>

<body>

  <%- include('partials/header')%>

    <%- include('partials/ribbon')%>

      <h1>ADMIN</h1>   

      <a href="/formulario_home">Formulario</a>

      <%- include('partials/footer')%>


</body>

</html>