<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Áreas del CEC</title>
    <%- include('partials/head') %>
        <link rel="stylesheet" href="/main.css">
</head>

<body>

    <%- include('partials/header')%>

        <%- include('partials/ribbon')%>


            <section id="1">
                <h1>Iniciados</h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
            </section>

            <section id="2">
                <h1>Roja</h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
            </section>

            <section id="3">
                <h1>Amarilla</h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
            </section>

            <section id="4">
                <h1>Universitaria</h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
            </section>

            <section id="5">
                <h1>Guías y Asesores</h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
            </section>

            <section id="6">
                <h1>Directiva</h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
                <h1>. </h1>
            </section>


            <%- include('partials/footer')%>

</body>

</html>