<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/main.css"> 
</head>
<body>

    <%- include('partials/header')%>

    <%- include('partials/ribbon')%>
    

    <h1>Contacto</h1>


    <%- include('partials/footer')%>

</body>
</html>