<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué es el CEC?</title>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/main.css"> 
</head>
<body>

    <%- include('partials/header')%>

    <%- include('partials/ribbon')%>
    

    <h1>Naturaleza e Historia</h1>
    <h1>Campamentos</h1>
    <h1>Nuestra Ley</h1>

    <%- include('partials/footer')%>

</body>
</html>