<!-- Sección encima del footer -->
<section class="color-info text-white py-5">
  <div class="container">

    <a class="d-block text-center mt-4 mb-5" href="/">
      <img src="img/logo.png" alt="Logo CEC" class="img-fluid logo-responsive footer">
    </a>


    <!-- Redes sociales -->
    <div class="d-flex justify-content-center mb-4">
      <a href="https://www.facebook.com/cec1964" target="_blank" class="text-white mx-3 fs-3">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/cecorgec" target="_blank" class="text-white mx-3 fs-3">
        <i class="bi bi-instagram"></i>
      </a>
    </div>

    <!-- Información contacto y horarios -->
    <div class="row d-flex">
      <!-- Contacto -->
      <div class="col-md-6 text-start">
        <p class="mb-1 fw-bold fs-4">Contacto:</p>
        <p class="mb-1 fw-light fs-5">
          <i class="bi bi-envelope-fill me-2"></i>cecnacional@hotmail.com
        </p>
        <p class="mb-1 fw-light fs-5">
          <i class="bi bi-telephone-fill me-2"></i>+593 98 492 8974
        </p>
      </div>

      <!-- Horario -->
      <div class="col-md-6 d-flex flex-column align-items-md-end align-items-start">
        <div class="text-start">
          <p class="mb-1 fw-bold fs-4">Horario de atención:</p>
          <p class="mb-1 fw-light fs-5">Miércoles: 15:00 - 18:00</p>
          <p class="mb-1 fw-light fs-5">Viernes: 14:00 - 17:00</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="color-footer text-white text-center py-3">
  <p class="mb-1 fw-light fs-5"><i>"Ser más, para servir mejor"</i></p>
</footer>